.github/
.vscode/
build/
coverage/
test/

.codeclimate.yml
.deepsource.toml
.editorconfig
.eslintignore
.gitattributes
.gitignore
.markdownlint.json
.prettierignore

eslint.config.*
prettier.config.*
tsconfig.json
